<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <h2>User Settings</h2>
        </div>
        <div class="card-body">
          <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="form-group">
              <label for="name">Name:</label>
              <input
                id="name"
                name="name"
                class="form-control"
                [(ngModel)]="userSettings.name"
                #nameField="ngModel"
                (blur)="onBlur(nameField)"
                required
              />
              <div
                [hidden]="nameField.valid || nameField.untouched"
                class="alert alert-danger"
              >
                Enter the name
              </div>
            </div>
            <div class="form-check form-group">
              <input
                class="form-check-input"
                type="checkbox"
                id="emailoffers"
                name="emailOffers"
                [(ngModel)]="userSettings.emailOffers"
              />
              <label class="form-check-label" for="emailoffers">
                Email Special Offers
              </label>
            </div>
            <p>User Interface Styles</p>
            <div class="form-check form-group">
              <input
                class="form-check-input"
                type="radio"
                name="userInterface"
                id="lightInterface"
                value="light"
                checked
                [(ngModel)]="userSettings.userInterface"
              />
              <label class="form-check-label" for="lightInterface">
                Light
              </label>
            </div>
            <div class="form-check form-group">
              <input
                class="form-check-input"
                type="radio"
                name="userInterface"
                id="mediumInterface"
                value="medium"
                [(ngModel)]="userSettings.userInterface"
              />
              <label class="form-check-label" for="mediumInterface">
                Medium
              </label>
            </div>
            <div class="form-check form-group">
              <input
                class="form-check-input"
                type="radio"
                name="userInterface"
                id="darkInterface"
                value="dark"
                [(ngModel)]="userSettings.userInterface"
              />
              <label class="form-check-label" for="darkInterface">
                Dark
              </label>
            </div>
            <div class="form-group">
              <label for="subscriptionType">Subscription Type</label>
              <select
                id="subscriptionType"
                class="form-control"
                name="subscriptionType"
                [(ngModel)]="userSettings.subscriptionType"
              >
                <option *ngFor="let type of subscriptionTypes | async">{{
                  type
                }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="notes">Notes</label>
              <textarea
                id="notes"
                name="notes"
                class="form-control"
                rows="3"
                [(ngModel)]="userSettings.notes"
                #notesField="ngModel"
                [class.field-error]="form.submitted && notesField.invalid"
                required
              ></textarea>
              <div
                [hidden]="!form.submitted || notesField.valid"
                class="alert alert-danger"
              >
                Notes required
              </div>
            </div>
            <div [hidden]="!postError" class="alert alert-danger">
              {{ postErrorMessage }}
            </div>
            <button class="btn btn-primary">send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-2 mt-2">
      <h6>{{ form.value | json }}</h6>
    </div>
  </div>
</div>
